/****** Object:  Database [medProDB]    Script Date: 4/29/2022 12:17:12 PM ******/
CREATE DATABASE [medProDB]  (EDITION = 'Basic', SERVICE_OBJECTIVE = 'Basic', MAXSIZE = 2 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/29/2022 12:17:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[appointments]    Script Date: 4/29/2022 12:17:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointments](
	[apptId] [int] IDENTITY(1,1) NOT NULL,
	[pId] [int] NOT NULL,
	[docId] [int] NOT NULL,
	[timeId] [int] NOT NULL,
 CONSTRAINT [pk_apptId] PRIMARY KEY CLUSTERED 
(
	[apptId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[availability]    Script Date: 4/29/2022 12:17:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[availability](
	[availId] [int] IDENTITY(1,1) NOT NULL,
	[docId] [int] NOT NULL,
	[timeId] [int] NOT NULL,
 CONSTRAINT [pk_availId] PRIMARY KEY CLUSTERED 
(
	[availId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctors]    Script Date: 4/29/2022 12:17:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctors](
	[docId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
 CONSTRAINT [pk_docId] PRIMARY KEY CLUSTERED 
(
	[docId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctorservices]    Script Date: 4/29/2022 12:17:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctorservices](
	[dsId] [int] IDENTITY(1,1) NOT NULL,
	[docId] [int] NOT NULL,
	[sId] [int] NOT NULL,
 CONSTRAINT [pk_dsId] PRIMARY KEY CLUSTERED 
(
	[dsId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patients]    Script Date: 4/29/2022 12:17:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patients](
	[pId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
 CONSTRAINT [pk_pId] PRIMARY KEY CLUSTERED 
(
	[pId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[services]    Script Date: 4/29/2022 12:17:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[services](
	[sId] [int] IDENTITY(1,1) NOT NULL,
	[sName] [varchar](50) NULL,
	[timeNeeded] [int] NOT NULL,
 CONSTRAINT [pk_sId] PRIMARY KEY CLUSTERED 
(
	[sId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[times]    Script Date: 4/29/2022 12:17:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[times](
	[timeId] [int] IDENTITY(1,1) NOT NULL,
	[timeStart] [datetime] NOT NULL,
	[timeEnd] [datetime] NOT NULL,
 CONSTRAINT [pk_timeId] PRIMARY KEY CLUSTERED 
(
	[timeId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/29/2022 12:17:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [varchar](100) NOT NULL,
	[lastName] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[role] [int] NOT NULL,
 CONSTRAINT [pk_userId] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [fk_apptDocId] FOREIGN KEY([docId])
REFERENCES [dbo].[doctors] ([docId])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [fk_apptDocId]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [fk_apptPId] FOREIGN KEY([pId])
REFERENCES [dbo].[patients] ([pId])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [fk_apptPId]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [fk_apptTimeId] FOREIGN KEY([timeId])
REFERENCES [dbo].[times] ([timeId])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [fk_apptTimeId]
GO
ALTER TABLE [dbo].[availability]  WITH CHECK ADD  CONSTRAINT [fk_availDocId] FOREIGN KEY([docId])
REFERENCES [dbo].[doctors] ([docId])
GO
ALTER TABLE [dbo].[availability] CHECK CONSTRAINT [fk_availDocId]
GO
ALTER TABLE [dbo].[availability]  WITH CHECK ADD  CONSTRAINT [fk_availTimeId] FOREIGN KEY([timeId])
REFERENCES [dbo].[times] ([timeId])
GO
ALTER TABLE [dbo].[availability] CHECK CONSTRAINT [fk_availTimeId]
GO
ALTER TABLE [dbo].[doctors]  WITH CHECK ADD  CONSTRAINT [fk_docUserId] FOREIGN KEY([userId])
REFERENCES [dbo].[users] ([userId])
GO
ALTER TABLE [dbo].[doctors] CHECK CONSTRAINT [fk_docUserId]
GO
ALTER TABLE [dbo].[doctorservices]  WITH CHECK ADD  CONSTRAINT [fk_dsDocId] FOREIGN KEY([docId])
REFERENCES [dbo].[doctors] ([docId])
GO
ALTER TABLE [dbo].[doctorservices] CHECK CONSTRAINT [fk_dsDocId]
GO
ALTER TABLE [dbo].[doctorservices]  WITH CHECK ADD  CONSTRAINT [fk_dsSId] FOREIGN KEY([sId])
REFERENCES [dbo].[services] ([sId])
GO
ALTER TABLE [dbo].[doctorservices] CHECK CONSTRAINT [fk_dsSId]
GO
ALTER TABLE [dbo].[patients]  WITH CHECK ADD  CONSTRAINT [fk_pUserId] FOREIGN KEY([userId])
REFERENCES [dbo].[users] ([userId])
GO
ALTER TABLE [dbo].[patients] CHECK CONSTRAINT [fk_pUserId]
GO
