.container{
    box-shadow: 0 16px 24px 2px rgba(31, 44, 190, 0.13), 0 6px 30px 5px rgba(255, 255, 255, 0.12), 0 8px 10px -5px rgba(255, 255, 255, 0.2);
    border-radius: 2%;
    padding: 10%;
    
}
.card{
    display: inline-block;
    width: 45%;
    margin: 2%;
    text-align: center;
}
img{
    width: 100%;
}
button{
    margin-left: 25%;
}
@media screen and (max-width: 600px){
    .card{
        display: block;
        width: 90%;
        margin: 2%;
        text-align: center;
    }
    
}