<div class="container">
    <div  id="datepicker">
        <h4>Select date and time: </h4>
        <input placeholder="Select date" type="date" value="2022-05-02" class="form-control"  required>
        <br>
        <select class="form-select" aria-label="time" required>
            <!-- <option selected> Select time </option> -->
            <option value="1">8:00 am - 9:00 am</option>
            <option value="2">9:00 am - 10:00 am</option>
            <option value="3">11:00 am - 12:00 pm</option>
            <option value="4">12:00 pm- 1:00 pm</option>
            <option value="5">1:00 pm- 2:00 pm</option>
            <option value="6">3:00 pm- 4:00 pm</option>
        </select>
        <br>
        <select class="form-select" aria-label="doc" required>
            <option selected> Select Doctor </option>
            <option value="1">name</option>
            <option value="2">name</option>
            <option value="3">name</option>

        </select>
        <br>
        <button class="btn btn-primary btn-block mb-4">SUBMIT</button>
    </div>  
</div>
<div class="container" id = "table">
    <h4 id="h4">My appointments</h4>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Doctor's name</th>
            <th scope="col">Procedure</th>
            
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
</div>