*{
    font-family: ui-monospace, serif;
}
html{
    height: 100%;
}
#withimage{
    width: 100%;
}
#img1{
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

#background{
    width: 100%;
    position: relative;
    left: 0px;
    top: 0px;

}
#top-left{
    display: inline-block;
    /* float: left; */
    width: 70%;
    background-color: rgb(0 0 255 / 34%);
    z-index: 1;
    margin-top: 10%;
    margin-left: 10%;
    padding: 5%;
    color: white;
}

#browse{
    color: blue;
}
#bar{
    
    text-align: center;
    width: 100%;
    position: relative;
    float: left;
    
    background-color: rgba(255, 255, 255, 0.36);
    padding: 5%;
    padding-bottom: 0;
    color: rgb(13, 0, 188);
}
.homebar{
    display: inline-block;
    text-align: center;
    width: 20%;
    /* float: left; */
    background-color: rgba(255, 255, 255, 0.674);
    padding: 2%;
    padding-top: 1%;
    margin-top: 0%;
    margin-left: 10%;
}
.topnav .icon {
    display: none;
  }
@media screen and (max-width: 600px){
    #top-left{width: 80%;
    margin-top: 4%;}
}